{% extends 'base.html' %}

{% block title %}书籍{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/goods.css') }}">
{% endblock %}

{% block main %}
<div class="container">
<div class="row">
{% for c in clothes %}
  <div class="col-sm-6 col-md-4" >
      <div class="kuang">
        <img src="../static/images/{{ c.clothepic }}"  class="bookhead">
      <div class="caption">
        <h3>{{c.clothesname }}</h3>
            <p>{{ c.clothedescrip }}</p>
            <p>价格：{{ c.clotheprice }}</p>
            <p>库存量：{{ c.clothes_num }}</p>
            <a  href="{{ url_for('judge2',id=c.id) }}" type="submit" class="btn btn-primary btn-block" onClick="return confirm('确认购买');">购买</a>
      </div>
      </div>
  </div>
{% endfor %}
</div>
</div>

{% endblock %}
