{% extends 'base.html' %}

{% block title %}首页{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/login.css') }}">
{% endblock %}

{% block main %}
<div class="container">
	<img src="../static/images/fzu.jpg" />
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="jumbotron">
				<h1>
					欢迎来到福宝购物中心
				</h1>
				<p>
					福州大学（Fuzhou University），简称福大，创建于1958年，国家“211工程”重点建设高校，国家“双一流”世界一流学科建设高校，国家国防科技工业局、教育部与福建省人民政府共建高校，全国首批深化创新创业教育改革示范高校，教育部首批“卓越工程师教育培养计划”试点高校，“国家级大学生创新创业训练计划”实施高校，福建省三所重点建设的高水平大学之一，入选国家“高校国际化示范学院推进计划”和“高等学校学科创新引智计划”（“111”计划），是国家理科基础科学研究和教学人才培养全国14个化学“理科基地”之一，同时也是国家集成电路人才培养基地，拥有国内桥梁工程和防灾减灾领域唯一的国家级国际联合研究中心，拥有教育部、科学技术部共同认定的国家级大学科技园；是一所以工为主、理工结合，理、工、经、管、文、法、艺等多学科协调发展的综合性重点大学。
				</p>
			</div>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-3 column">
			<h2>
				书籍
			</h2>
			<p>
				Donec idum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			</p>
			<p>
				 <a class="btn" href="{{ url_for('books') }}">了解更多</a>
			</p>
		</div>
		<div class="col-md-3 column">
			<h2>
				衣服
			</h2>
			<p>
				Donec id elit non mi porta grav malesua
                da magna mollis euismod. Donec sed odio dui.
			</p>
			<p>
				 <a class="btn" href="#">了解更多</a>
			</p>
		</div>
		<div class="col-md-3 column">
			<h2>
				电子产品
			</h2>
			<p>
				D是多久啊是领导和卡拉卡号的卡刷道具卡和傻
                大姐卡拉圣诞节卡仕达卡仕达揭开了哈是的撒大大ui.
			</p>
			<p>
				 <a class="btn" href="#">了解更多</a>
			</p>
		</div>
        <div class="col-md-3 column">
			<h2>
				饮食
			</h2>
			<p>
				Donec id eutdssssss ssss
                s ssss sssssssssssss sssssssssssss
                ssssssss sssss sssssssssssssssss sss
                sssssssssssd odio dui.
			</p>
			<p>
				 <a class="btn" href="#">了解更多</a>
			</p>
		</div>


	</div>
</div>
{% endblock %}